.main {
  height: calc(100vh - 70px);
}
.drower {
  padding-top: 30px;
  width: 50px;
  height: calc(100vh - 70px);
  background-color: rgb(248,249,250);
  transition: width .5s ;
}
.drower:hover {
  width: 150px;
}

ul {
  padding-left: 15px;
  list-style-type: none;
}
ul li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul li a:link {
  color: rgba(0, 0, 0, 0.55);
  text-decoration: none;
}

ul li a:visited {
  color: rgba(0, 0, 0, 0.55);
  text-decoration: none;
}

ul li a:hover {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

ul li a:active {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}